body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    width: 100%;
    max-width: 800px; 
    display: flex;
    flex-direction: row;
  }
  
  .content-container {
    width: 80%; 
    background-color: #36cae0; 
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    transition: transform 0.5s ease-in-out;
    z-index: 10;
}

.results-container {
  width: 100%; 
  background-color: #29d643;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #000000; 
  text-align: center;
}

.form {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea {
  width: 230px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc; 
  border-radius: 8px;
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
  resize: none;
}

.textarea:focus {
  outline: none;
  border: 1px solid #3182ce; 
}

.button {
  width: 150px;
  padding: 12px;
  background-color: #00050a; 
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  margin-top: 20px;
  margin-bottom: 20px; 
}

.button:hover {
  background-color: #2b6cb0;
}

.button.loading {
  background-color: #a0aec0; 
  cursor: not-allowed;
}

.error {
  margin-top: 20px;
  color: #e53e3e;
  font-size: 14px;
  text-align: center;
}

.result {
  color: #4d4c4c;
  width: 100%;
}

.label {
  font-weight: bold;
  margin-right: 20px;
  color: rgb(255, 255, 255);
}

  